### Regression

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('Car_Purchasing_Data.csv',  encoding='latin-1')
print(df)

       Customer Name                                    Customer e-mail  \
0      Martina Avila  cubilia.Curae.Phasellus@quisaccumsanconvallis.edu
1      Harlan Barnes                                eu.dolor@diam.co.uk
2    Naomi Rodriquez  vulputate.mauris.sagittis@ametconsectetueradip...
3    Jade Cunningham                            malesuada@dignissim.com
4       Cedric Leach     felis.ullamcorper.viverra@egetmollislectus.net
..               ...                                                ...
495           Walter                                ligula@Cumsociis.ca
496            Vanna                 Cum.sociis.natoque@Sedmolestie.edu
497            Pearl                      penatibus.et@massanonante.com
498             Nell                  Quisque.varius@arcuVivamussit.net
499            Marla                          Camaron.marla@hotmail.com

          Country  Gender        Age  Annual Salary  Credit Card Debt  \
0        Bulgaria       0  41.851720    62812.09301      11609.380910
1          Belize       0  40.870623    66646.89292       9572.957136
2         Algeria       1  43.152897    53798.55112      11160.355060
3    Cook Islands       1  58.271369    79370.03798      14426.164850
4          Brazil       1  57.313749    59729.15130       5358.712177
..            ...     ...        ...            ...               ...
495         Nepal       0  41.462515    71942.40291       6995.902524
496      Zimbabwe       1  37.642000    56039.49793      12301.456790
497   Philippines       1  53.943497    68888.77805      10611.606860
498      Botswana       1  59.160509    49811.99062      14013.034510
499        marlal       1  46.731152    61370.67766       9391.341628

       Net Worth  Car Purchase Amount
0    238961.2505          35321.45877
1    530973.9078          45115.52566
2    638467.1773          42925.70921
3    548599.0524          67422.36313
4    560304.0671          55915.46248
..           ...                  ...
495  541670.1016          48901.44342
496  360419.0988          31491.41457
497  764531.3203          64147.28888
498  337826.6382          45442.15353
499  462946.4924          45107.22566

[500 rows x 9 columns]

In [3]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,4:-1],df.iloc[:, 8], train_size = 0.8)

In [4]:
print(x_train)

           Age  Annual Salary  Credit Card Debt    Net Worth
487  43.365470    50051.14039        893.235341  347177.8367
273  49.897690    53587.12801       8501.497280  811594.0392
122  52.864268    65809.10782       4820.839445  692401.4668
165  38.708048    69142.08412       8707.511532  399124.4489
194  70.000000    52323.24480      12438.856480  346555.1716
..         ...            ...               ...          ...
116  43.031069    69175.19403       6039.594519  325701.4083
77   56.519529    53450.90036       8740.723093  309113.0627
264  45.219379    72939.83195       7787.204492  589669.6573
7    50.193016    51752.23445      10985.696560  629312.4041
74   56.041515    67015.19372      13000.413690  355157.6417

[400 rows x 4 columns]

In [5]:
print(x_test)

           Age  Annual Salary  Credit Card Debt    Net Worth
237  50.717326    60404.38394       4198.839128  513974.6812
458  47.546905    45368.15561      12203.487780  577058.1773
371  39.711310    60380.22868       2799.719601  508962.4874
270  35.375156    33422.99683       8570.611562  211168.6293
366  43.129549    54236.62092       7275.314728  432447.5324
..         ...            ...               ...          ...
262  41.224935    73426.08521      14822.796450  336867.7147
288  40.601835    73498.30715       3066.939924  491904.1899
68   57.347216    48716.67271      10886.917110  662382.6623
222  47.450949    61063.35631      12066.265710  509543.0859
79   45.225651    52697.15192        861.816653  540805.4940

[100 rows x 4 columns]

In [6]:
print(y_train)

487    32553.53423
273    53502.97742
122    59416.18101
165    40879.19107
194    56229.41270
          ...
116    42408.02625
77     44434.71917
264    54013.47595
7      47434.98265
74     52991.52667
Name: Car Purchase Amount, Length: 400, dtype: float64

In [7]:
reg = linear_model.LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [8]:
print(reg.coef_)
print(reg.intercept_)

[ 8.41563551e+02  5.62332934e-01 -2.79435522e-05  2.89834179e-02]
-42147.0155868303

In [9]:
reg.predict(x_test)

array([49398.83775782, 40103.51211739, 39977.76068965, 12538.42768624,
       37181.88284011, 44431.6386423 , 57124.92300329, 53658.02503302,
       51940.64976089, 55544.82010138, 52311.73777257, 44437.19211359,
       37714.40218756, 57460.20664803, 32701.75234824, 58668.55322223,
       30241.82020759, 39911.27243046, 51610.61433681, 39550.37713096,
       46013.15033835, 67424.30378796, 42776.57643026, 58351.90980473,
       41319.81857484, 52786.01249224, 39331.29873549, 66363.00012729,
       31146.67678922, 47443.3103578 , 31838.33212711, 52056.90976461,
       24222.01929168, 51732.01221151, 41426.0245327 , 35440.74408779,
       58839.65935329,  9001.63982066, 42481.37926669, 38505.36963891,
       44500.29397062, 41987.08655879, 39003.03673694, 33259.97496286,
       48100.36283728, 35473.38712705, 27301.13610553, 42289.75070003,
       39607.80900096, 42998.39420031, 42909.6245511 , 30963.62871391,
       55168.0887917 , 34642.99000517, 47761.80127632, 41490.65027351,
       32478.49589699, 33130.35814489, 22628.64579897, 42383.73429446,
       28030.8318719 , 58045.04752584, 63252.92894906, 45207.61316541,
       46084.51239714, 32291.94290699, 35727.93013836, 55173.61105146,
       52571.30400005, 34137.80271576, 41565.75465875, 37869.66106896,
       42747.83924414, 30734.91712878, 19552.54322331, 48620.2042011 ,
       37949.93569112, 37885.37168327, 44634.40719449, 28465.05406432,
       38242.68696994, 55593.3702109 , 24133.59945196, 29757.61981269,
       54605.79967494, 30826.12737894, 30760.83960194, 46401.3359785 ,
       46400.95092883, 45805.5873209 , 46133.95746215, 46848.02678771,
       51552.2465018 , 60528.35459139, 36518.18276114, 43599.45679846,
       47609.50646099, 52707.109558  , 46891.87303256, 41220.95584203])

In [10]:
reg.score(x_test,y_test)

0.9999999828318391

### ANN

In [2]:
import keras

ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via `pip install tensorflow`